<div>
        
        <p>{{_bike.name}}</p>
        <p>{{_bike.type}}</p>
    <div fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutGap="0.5%"
    fxLayoutAlign="start" >
    <ul>
      <p *ngFor="let localpart of _bike.parts" (mouseenter)="selectPart(localpart)" >{{localpart.name}}</p>
    </ul>
    <div *ngIf="selectedPart">
     <app-part [_part]="selectedPart"></app-part>
    </div> 
     <app-add-added-part [_Parts]= "(fetchParts$ | async)"></app-add-added-part>
    </div>
  </div>
  