
<mat-card class="card">
  <mat-card-header class="title" >
    <mat-card-title style="overflow: hidden;">{{_addedPart.getName}}</mat-card-title>
  </mat-card-header>
  
  <mat-card-content>
    <div class="fotoKader">
      <p class="imageAlt" *ngIf="image == null">no image provided</p>
      <img *ngIf="image != null" mat-card-image [src]="image">
    </div>
    <p>brand: {{_addedPart.getBrand}}</p>
    <p>price: €{{_addedPart.getPrice}}</p>
    <p style="overflow: hidden;" matTooltip="{{_addedPart.getLink}}" >link:<a href="{{_addedPart.getLink}}">{{_addedPart.getLink}}</a></p>
  </mat-card-content>
  
</mat-card>

