mat-card
{
    width: 730px;
    margin-bottom: 20px;
}

.scroll
{
    margin: 20px;
    overflow: auto;
    white-space: nowrap;
    height: 350px;
    width: 710px;
    
}
.scroll::-webkit-scrollbar {
    display: none;
}
