<mat-card>
    <mat-card-header>
      <mat-card-title> <mat-icon (mouseover)="filterAddedParts$.next(_part.name)">directions_bike</mat-icon> {{ _part.name }} </mat-card-title>
      <mat-card-subtitle><strong>beschrijving: </strong>{{_part.description}} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
     
     <mat-list>
       <mat-list-item><strong>functionaliteit: </strong>{{_part.functionality}}</mat-list-item>
       <mat-list-item><strong>optioneel: </strong>{{_part.isOptional}}</mat-list-item>
       <mat-list-item>
         <p><strong>Afhankelijke onderdelen</strong></p>
         <mat-chip-list> 
          <mat-chip *ngFor="let part of _part.dependantParts">{{part}}</mat-chip>
        </mat-chip-list>
       </mat-list-item>
       
       <mat-list-item>
        <p><strong>Dominante onderdelen</strong></p>
        <mat-chip-list> 
          <mat-chip *ngFor="let part of _part.dominantParts">{{part}}</mat-chip>
        </mat-chip-list>
       </mat-list-item>
     </mat-list>
    </mat-card-content>
  </mat-card> 


 

<mat-accordion>
  
    <app-added-part *ngFor="let addedPart of ( addedParts$ | async | addedpartsFilter: _part.id)" [_addedPart]="addedPart"></app-added-part>
  
</mat-accordion>

  
