
    <mat-toolbar color="primary">
      <span>BikeApp</span>
       <mat-nav-list>
      <a mat-list-item [routerLink]="['bikeApp/all']">Bikes</a>
    </mat-nav-list>
    <span class="filler"></span>
    <div *ngIf="userName == null">
      <a href="bikeApp/register" mat-raised-button color="accent">Register</a>
      <a href="bikeApp/login" mat-raised-button color="accent">login</a>
    </div>
    <div *ngIf="userName != null">
    <button mat-raised-button (click)="logout()">logout</button>
  </div>
    <p>{{userName}}</p>
    </mat-toolbar>
    <ng-content></ng-content>
