
    <mat-toolbar color="primary">
      <span id="logo" [routerLink]="['bikeApp/all']" mat-list-item >BikeApp</span>
    <span class="filler"></span>
    <div *ngIf="userName == null">
      <a style="margin: 5px;" href="bikeApp/register" mat-raised-button color="accent">Register</a>
      <a style="margin: 5px;" href="bikeApp/login" mat-raised-button color="accent">login</a>
    </div>
    <p>{{userName}}</p>
    <div *ngIf="userName != null">
      
    <button style="margin: 5px;" mat-raised-button (click)="logout()">logout</button>
  </div>
    
    </mat-toolbar>
    <ng-content></ng-content>
