
    <mat-toolbar color="primary">
      <span id="logo" [routerLink]="['bikeApp/all']" mat-list-item >BikeApp</span>
    <span class="filler"></span>
    <div *ngIf="userName == null">
      <button style="margin: 5px;" (click)="register()" mat-raised-button color="accent">Register</button>
      <button style="margin: 5px;" (click)="login()" mat-raised-button color="accent">login</button>
    </div>
    <p>{{userName}}</p>
    <div *ngIf="userName != null">
      
    <button style="margin: 5px;" mat-raised-button (click)="logout()">logout</button>
  </div>
    
    </mat-toolbar>
    <ng-content></ng-content>
