
<div *ngIf="(bikes$ | async) as bikes; else loadingOrError">
<button mat-raised-button color="accent"  [matMenuTriggerFor]="menu">{{kiesFiets()}}</button>
  <mat-menu #menu="matMenu">
  <button (click)="selectBike(bike)" mat-menu-item *ngFor="let bike of (bikes)">{{bike.name}}</button>
  </mat-menu>
  <app-bike *ngIf="selectedBike != null" [_bike]="selectedBike"></app-bike>
</div>
<ng-template #loadingOrError>
    <mat-card class="error" *ngIf="errorMessage; else loading">
       Error loading bikes: {{ errorMessage }}. <br/>
        Please try again later.
     
    </mat-card>
  </ng-template>
  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
