<mat-card>
    <mat-card-title>add part</mat-card-title>
    <mat-card-content>
      <form [formGroup]="addedPart" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input
            matInput
            aria-label="name"
            placeholder="name"
            type="text"
            formControlName = "name"
          />
        </mat-form-field>
        <button mat-raised-button type="submit">
          add part
        </button>
      </form>
    </mat-card-content>
  </mat-card>
